@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: THELuxGoEB_UA;
	src: local('THELuxGo'),
		  url('../fonts/THELuxGoEB_UA.woff')
}

@font-face {
	font-family: THELuxGoL_UA;
	src: local('THELuxGo'),
		  url('../fonts/THELuxGoL_UA.woff')
}

@font-face {
	font-family: THELuxGoRA;
	src: local('THELuxGo'),
		  url('../fonts/THELuxGoRA.woff')
}